.Loading_wrap {
    height: calc(100vh - 100px);
    width: 100vw;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
.Loading_box {
    display: inline-block;
    margin-top: 250px;
    margin-bottom: 30px;
}
.Real_start {
    color: rgb(203, 203, 203);
    position: absolute;
    top: 10px;
    right: 10px;
}
.Real_start:hover {
    cursor: pointer;
}